.block {
    background: white;
    position: absolute;
    width: 80%;
    height: auto;
    top: 0px;
}
.ceilingBlock {
    background: #D7D7D7;
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0px;
}

.ceilingBlock p input {
    /*position: absolute;*/
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1%;
    margin-left: 1%;
    /*=padding-left: 5%;*/
}

.ceilingBlock p button {
    padding: 1%;
    background-color: #4EC5D6;
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-family: Roboto;
    border-radius: 40%;
    /*padding-left: 5%;*/
}

.block h3 {
    padding-top: 20%;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    font-family: Roboto;
    /*color: #446381;*/
    font-weight: bold;
}

/* Rectangle 42 */
#icon {
    /*position: absolute;*/
    /*width: 7px;
    height: 6px;
    left: 2px;
    top: 0px;*/
    margin-left: 1%;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    background: white;
    border-radius: 15%;
}

#example {
/*position: absolute;*/
width: 85%;
height: auto;
margin: auto;
display: flex;
/*align-items: center;*/
/*justify-content: center;*/
/*height: 231px;
left: 289px;
top: 207px;*/
background: #FFFFFF;
border: 3px solid #6CBCC3;
box-sizing: border-box;
/*border-radius: 5%;*/
margin-bottom: 12%;
padding-bottom: 5%;
}

#pic {
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
    background: #C4C4C4;
    border-radius: 15%;
}

#inf {
    margin-left: 5%;
    height: auto;
    font-weight: bold;
    font-size: 15px;
    font-family: Roboto;
}

#textarea {
    margin-top: 2%;
    padding-top: 15%;
    margin-left: 5%;
    position: relative;
    align-items: center;
    justify-content: center;
    /*margin-top: 10%;*/
    border: 1px solid #888;
    resize: none;
    width: 90%;
    height: 10vh;
    border-radius: 5px;
}

/*#menu {
position: absolute;
width: 30%;
height: 10%;
left: 0px;
top: 15%;
background-color: #D7D7D7;
border: 1px solid rgba(0, 0, 0, 0.25);
box-sizing: border-box;
}*/
#account {
    position: absolute;
    top: 15%;
    width: 11%;
    height: 10%;
    left: 0px;
    /*display: flex;*/
    /*background-color: #446381;*/
    background-color: #D7D7D7;
    font-family: Roboto;
   /* color: white;*/
    font-size: 18px;
    font-weight: bold;
   /* overflow: hidden;*/
}

body {
    background-color: #4EC5D6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
/*    overflow: hidden;*/
}

#leaveComment {
    margin-top: 2%;
    padding: 1%;
    background-color: #4EC5D6;
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-family: Roboto;
    /*border-radius: 40%;*/
    margin-left: 5%;
}
